DESTDIR=
prefix=@prefix@
exec_prefix=@exec_prefix@
bindir=@bindir@

TARGET  = apps
FILES   = main.c
OBJS    := $(FILES:.c=.o)
CFLAGS  = 


all: $(TARGET)

install:
    mkdir -p $(DESTDIR)$(bindir)
    $(INSTALL) -m 755 $(TARGET) $(DESTDIR)$(bindir)

clean:
	$(RM) $(OBJS)

$(OBJS)  : defs.h externs.h protos.h
main.o   : inst.h vars.h

$(TARGET) : $(OBJS)
	$(LINK.o) $^ $(LOADLIBES) $(LDLIBS) -o $@
